/* Styling for the header and header elements */
.header {
  display: flex; /* establish flex container */
  justify-content: flex-start; /* center flex items horizontally, in this case */
  align-items: center; /* center flex items vertically, in this case */
  /* Always covers 95% of the screen */
  height: 100vh;
  background-image: linear-gradient(to bottom,
    rgba($color-primary, .3),
    rgba($color-primary-dark, .4)),
    url(../img/hero-small.jpg);
  background-size: cover;
  /* The top of the background image always stays in place */
  // background-position: bottom;
  position: relative;

  @include respond(phone) {
    justify-content: center; /* center flex items horizontally, in this case */
    background-position: top;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
          background-image: linear-gradient(to right bottom,
          rgba($color-primary, .3),
          rgba($color-primary-dark, .4)),
          url(../img/hero.jpg);
  }

    // Nested elements
    &__logo-box {
      position: absolute;
      /* Place the logo where we want using top and left below */
      top: 2rem;
      left: -2rem;
    }

    /* Define the size of the logo */
    &__logo {
      height: 10rem;
    }

    /* Styling for the heading h1 */
    &__text-box {
      background-color: $color-white;
      padding: 2rem;
      text-align: center;
      min-height: 35vh;
      min-width: 50vw;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;

      @include respond(phone) {
        background-color: transparent;
        padding: 0;
      }
    }
}
