// Colour variables
// $color-primary: #44318D;
// $color-primary-dark: #2A1B3D;
$color-white: #fff;
$color-body-text: #777;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-dark-grey: #999;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// New Colours
$color-primary: #44318D;
$color-primary-dark: #2A1B3D; 
$color-accent: #D83F87;
